<div class="container rtl-dir-fixes">
  <div class="row">
    <div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">الدورات التدريبية التي حصل عليها الموظف خلال سنة التقييم</h6>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">


              <!-- W-Personal-Info -->

              <ul class="widget w-personal-info item-block">
                <li>
                  <span class="title">اسم الدورة:</span>
                  <span class="text">السياسة الخارجية الصينية
                  </span>
                </li>
                <li>
                  <span class="title">مكان الانعقاد:</span>
                  <span class="text">مقر الوزارة</span>
                </li>
                <li>
                  <span class="title">المدة:</span>
                  <span class="text">أسبوع واحد</span>
                </li>
              </ul>

              <!-- ... end W-Personal-Info -->
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">


              <!-- W-Personal-Info -->

              <ul class="widget w-personal-info item-block">
                <li>
                  <span class="title">التقييم:</span>
                  <span class="text">جيد</span>
                </li>
                <li>
                  <span class="title">ملاحظات الموارد البشرية:</span>
                  <span class="text">لا يوجد</span>
                </li>
                <li>
                  <span class="title">التاريخ:</span>
                  <span class="text">٠٤-٠٩-٢٠٢٠</span>
                </li>
              </ul>

              <!-- ... end W-Personal-Info -->
            </div>
          </div>
        </div>
      </div>
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">التميز</h6>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">


              <!-- W-Personal-Info -->

              <ul class="widget w-personal-info item-block">
                <li>
                  <span class="title">نوع المكافأة:</span>
                  <span class="text">خطاب شكر</span>
                </li>
                <li>
                  <span class="title">سبب التميز:</span>
                  <span class="text">الجهد المبذول تخطى ٢٠ يوم عمل وأثر عمله بقوة على مشروع الوزارة</span>
                </li>
              </ul>

              <!-- ... end W-Personal-Info -->

            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">


              <!-- W-Personal-Info -->

              <ul class="widget w-personal-info item-block">
                <li>
                  <span class="title">تاريخ المكافأة:</span>
                  <span class="text">٢٩-٠٩-٢٠١٩</span>
                </li>
                <li>
                  <span class="title">ملاحظات الموارد البشرية:</span>
                  <span class="text">لا يوجد</span>
                </li>
              </ul>

              <!-- ... end W-Personal-Info -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">معلومات عامة عن الموظف</h6>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>
        <div class="ui-block-content">


          <!-- W-Personal-Info -->

          <ul class="widget w-personal-info personal">
            <li>
              <span class="title">الإدارة:</span>
              <span class="text">الشؤون الأسيوية
              </span>
            </li>
            <li>
              <span class="title">المسار:</span>
              <span class="text">دبلوماسي</span>
            </li>
            <li>
              <span class="title">رقم الوظيفة:</span>
              <span class="text">٥٤٢٣٥٤٦٦٨</span>
            </li>
            <li>
              <span class="title">تاريخ التعيين:</span>
              <span class="text">٢٠١٥-٠٦-٠٩</span>
            </li>
            <li>
              <span class="title">آخر مؤهل علمي:</span>
              <span class="text">ماجستير إدارة عامة</span>
            </li>
            <li>
              <span class="title">نتيجة التقييم للسنة الماضية:</span>
              <span class="text">ممتاز</span>
            </li>
            <li>
              <span class="title">المسمى الوظيفي:</span>
              <span class="text">مدير إدارة الشؤون الأسيوية</span>
            </li>
            <li>
              <span class="title">القسم:</span>
              <span class="text">لا يطبق</span>
            </li>
            <li>
              <span class="title">الدرجة المالية:</span>
              <a href="javascript:void(0)" class="text">سفير</a>
            </li>
            <li>
              <span class="title">تاريخ الحصول على الدرجة:</span>
              <a href="javascript:void(0)" class="text">٢٠١٨-٠٧-٠١</a>
            </li>
            <li>
              <span class="title">التخصص:</span>
              <span class="text">إعلام دولي</span>
            </li>
            <li>
              <span class="title">نتيجة التقييم الأولي لهذه السنة:</span>
              <span class="text">جيد جدا</span>
            </li>
          </ul>

          <!-- ... end W-Personal-Info -->
          <!-- W-Socials -->

          <div class="widget w-socials">
            <h6 class="title">الشبكات الاجتماعية الأخرى:</h6>
            <a href="javascript:void(0)" class="social-item bg-facebook">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
              فيسبوك
            </a>
            <a href="javascript:void(0)" class="social-item bg-twitter">
              <i class="fab fa-twitter" aria-hidden="true"></i>
              تويتر
            </a>
          </div>


          <!-- ... end W-Socials -->
        </div>
      </div>
    </div>
  </div>
</div>
