.forum-item img {
  border-radius: 50%;
  height: 55px;
  float: right !important;
}

.forum-item .content {
  padding: 12px 11px;
}

.forums-table thead th {
  font-weight: 500;
}

.forums-table td {
  padding: 8px 20px;
}

.author-freshness {
  direction: ltr !important;
}

.delete {
  font-size: 16px;
  margin-right: 5px;
  color: #e28080;
}

.edit {
  font-size: 16px;
}
