<table class="forums-table rtl-dir-fixes rtl-fixes-child">

  <thead>

    <tr>

      <th class="forum">
        الاسم
      </th>

      <th class="topics">
        المالك
      </th>

      <th class="posts">
        آخر تعديل
      </th>

      <th class="posts">
        حجم الملف
      </th>

      <th class="posts">
      </th>
    </tr>

  </thead>

  <tbody>
    <tr>
      <td class="forum" fxLayout="row" fxLayoutAlign="start center">
        <!-- <img style="height: 18px;" [src]="'assets/images/'+getIconByExt(file.extension)"> -->
        <mat-icon style="font-size: 22px;">folder</mat-icon>
        <div class="mr-2">ارشيف المبيعات</div>
      </td>
      <td class="topics">
        انا
      </td>
      <td class="posts">
        {{ "Tue Jun 01 2020 14:53:23 GMT+0300 (Eastern European Summer Time)" | date: "mediumDate"}}
      </td>
      <td class="freshness">
        <div fxLayout="row">
          <div> KB </div>
          <div class="mr-1"> 4,000 </div>
        </div>
      </td>
      <td class="action">
        <div class="more rtl-dir-fixes" style="position: absolute;">
          <svg class="olymp-three-dots-icon">
            <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
          <ul class="more-dropdown" style="z-index: 9999 !important;">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#share-popup">مشاركة</a>
            </li>
            <li>
              <a href="javascript:void(0)">ربط بمشروع</a>
            </li>
            <li>
              <a href="javascript:void(0)">تحميل</a>
            </li>
            <li>
              <a href="javascript:void(0)">تعديل الاسم</a>
            </li>
            <li>
              <a href="javascript:void(0)">نقل الملف</a>
            </li>
            <li>
              <a href="javascript:void(0)">مسح</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="forum" fxLayout="row" fxLayoutAlign="start center">
        <!-- <img style="height: 18px;" [src]="'assets/images/'+getIconByExt(file.extension)"> -->
        <mat-icon style="font-size: 22px;">folder</mat-icon>
        <div class="mr-2">ارشيف المراجعات</div>
      </td>
      <td class="topics">
        ساره كرم
      </td>
      <td class="posts">
        {{ "Tue Jun 04 2020 14:53:23 GMT+0300 (Eastern European Summer Time)" | date: "mediumDate"}}
      </td>
      <td class="freshness">
        <div fxLayout="row">
          <div> KB </div>
          <div class="mr-1"> 6,255 </div>
        </div>
      </td>
      <td class="action">
        <div class="more rtl-dir-fixes" style="position: absolute;">
          <svg class="olymp-three-dots-icon">
            <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
          <ul class="more-dropdown" style="z-index: 9999 !important;">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#share-popup">مشاركة</a>
            </li>
            <li>
              <a href="javascript:void(0)">ربط بمشروع</a>
            </li>
            <li>
              <a href="javascript:void(0)">تحميل</a>
            </li>
            <li>
              <a href="javascript:void(0)">تعديل الاسم</a>
            </li>
            <li>
              <a href="javascript:void(0)">نقل الملف</a>
            </li>
            <li>
              <a href="javascript:void(0)">مسح</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="forum" fxLayout="row" fxLayoutAlign="start center">
        <!-- <img style="height: 18px;" [src]="'assets/images/'+getIconByExt(file.extension)"> -->
        <mat-icon style="font-size: 22px;">folder</mat-icon>
        <div class="mr-2">رسوم بيانية</div>
      </td>
      <td class="topics">
        ساره كرم
      </td>
      <td class="posts">
        {{ "Tue Jun 03 2020 14:53:23 GMT+0300 (Eastern European Summer Time)" | date: "mediumDate"}}
      </td>
      <td class="freshness">
        <div fxLayout="row">
          <div> KB </div>
          <div class="mr-1"> 2,020 </div>
        </div>
      </td>
      <td class="action">
        <div class="more rtl-dir-fixes" style="position: absolute;">
          <svg class="olymp-three-dots-icon">
            <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
          <ul class="more-dropdown" style="z-index: 9999 !important;">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#share-popup">مشاركة</a>
            </li>
            <li>
              <a href="javascript:void(0)">ربط بمشروع</a>
            </li>
            <li>
              <a href="javascript:void(0)">تحميل</a>
            </li>
            <li>
              <a href="javascript:void(0)">تعديل الاسم</a>
            </li>
            <li>
              <a href="javascript:void(0)">نقل الملف</a>
            </li>
            <li>
              <a href="javascript:void(0)">مسح</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>

    <tr *ngFor="let file of files">
      <td class="forum" fxLayout="row" fxLayoutAlign="start center">
        <img style="height: 18px;" [src]="'assets/images/'+getIconByExt(file.extension)">
        <div class="mr-2" (click)="viewer(file)">{{file.name}}</div>
      </td>
      <td class="topics">
        انا
      </td>
      <td class="posts">
        {{file.lastModified | date: "mediumDate"}}
      </td>
      <td class="freshness">
        <div fxLayout="row">
          <div> KB </div>
          <div class="mr-1"> {{file.size / 1000 | number : '1.0-0' || "0"}} </div>
        </div>
      </td>
      <td class="action">
        <div class="more rtl-dir-fixes" style="position: absolute;">
          <svg class="olymp-three-dots-icon">
            <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
          <ul class="more-dropdown" style="z-index: 9999 !important;">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#share-popup">مشاركة</a>
            </li>
            <li>
              <a href="javascript:void(0)">ربط بمشروع</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="downloadFile(file)">تحميل</a>
            </li>
            <li>
              <a href="javascript:void(0)">تعديل الاسم</a>
            </li>
            <li>
              <a href="javascript:void(0)">نقل الملف</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="deleteFile(file)">مسح</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>

  </tbody>
</table>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">التالي</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1<div class="ripple-container">
          <div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div>
        </div></a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">12</a></li>
    <li class="page-item">
      <a class="page-link" href="#">السابق</a>
    </li>
  </ul>
</nav>

<!-- ... end Pagination -->

<!-- <a style="visibility: hidden;" id="open-share-popup" data-toggle="modal" data-target="#share-popup" href="javascript:void(0)" class="btn btn-breez btn-sm">Open Popup</a> -->

<!-- Window-popup Create Friends Group Add Friends -->

<div class="modal fade" id="share-popup" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-add-friends" aria-hidden="true">
  <div class="modal-dialog window-popup create-friend-group create-friend-group-add-friends" role="document">
    <div class="modal-content">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>

      <div class="modal-header rtl-dir-fixes">
        <h6 class="title">شارك مع الاخرين والمجموعات</h6>
      </div>

      <div class="modal-body">
        <form class="form-group label-floating is-select">

          <select class="selectpicker form-control style-2 show-tick" multiple data-max-options="6" data-live-search="true">
            <option title="جلال شاعر" data-content='<div class="inline-items">
										<div class="author-thumb">
											<img style="height:28px;" src="assets/web/img/avatar4-sm.jpg" alt="author">
										</div>
											<div class="h6 author-title">جلال شاعر</div>
                      <i class="fa fa-check"></i>
										</div>'>جلال شاعر
            </option>

            <option title="Mathilda Brinker" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img style="height:28px;" src="assets/web/img/avatar10-sm.jpg" alt="author">
											</div>
                      <div class="h6 author-title">راجي ضاهر</div>
                      <i class="fa fa-check"></i>
										</div>'>راجي ضاهر
            </option>

            <option title="Marina Valentine" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img style="height:28px;" src="assets/web/img/avatar20-sm.jpg" alt="author">
											</div>
                      <div class="h6 author-title">سوسن جميل</div>
                      <i class="fa fa-check"></i>
										</div>'>سوسن جميل
            </option>

            <option title="Dave Marinara" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img style="height:28px;" src="assets/web/img/avatar35-sm.jpg" alt="author">
											</div>
                      <div class="h6 author-title">ميرنا سبيل</div>
                      <i class="fa fa-check"></i>
										</div>'>ميرنا سبيل
            </option>

            <option title="Rachel Howlett" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img style="height:28px;" src="assets/web/img/avatar34-sm.jpg" alt="author">
											</div>
                      <div class="h6 author-title">راشيل كريم</div>
                      <i class="fa fa-check"></i>
										</div>'>راشيل كريم
            </option>

          </select>
        </form>

        <a href="javascript:void(0)" data-toggle="modal" data-target="#share-popup" class="btn btn-blue btn-lg full-width">حفظ</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="doc-popup" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-add-friends" aria-hidden="true">
  <div class="modal-dialog window-popup doc-popup" role="document">
    <div class="modal-content">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>

      <div class="modal-header rtl-dir-fixes">
        <h6 class="title">{{currentFileView}}</h6>
      </div>

      <div class="modal-body">

        <ngx-doc-viewer [url]="doc" viewer="google" style="width:100%;height:100%;"></ngx-doc-viewer>

      </div>
    </div>
  </div>
</div>

<!-- ... end Window-popup Create Friends Group Add Friends -->


<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
  <ng-container *ngIf="index === currIndex">
    <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
  </ng-container>
</ng-template>
