<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">


  <!-- Header Standard Landing  -->

  <div class="header--standard header--standard-landing" id="header--standard">
    <div class="container">
      <div class="header--standard-wrap">

        <a href="javascript:void(0)" class="logo">
          <div class="img-wrap">
            <!-- <img src="assets/web/img/logo_bank.png" style="height: 90px;" alt="Olympus"> -->
            <!-- <img src="assets/web/img/logo_bank.png" alt="Olympus" class="logo-colored"> -->
          </div>
          <!-- <div class="title-block">
						<h6 class="logo-title">olympus</h6>
						<div class="sub-title">SOCIAL NETWORK</div>
					</div> -->
        </a>

        <!-- <a href="javascript:void(0)" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
				</a> -->

         </div>
    </div>
  </div>

  <!-- ... end Header Standard Landing  -->
  <div class="header-spacer--standard"></div>

  <div class="stunning-header-content">
    <h1 class="stunning-header-title">الاحكام و الشروط</h1>
    <!-- <ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<a href="javascript:void(0)">Home</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>FAQs</span>
			</li>
		</ul> -->
  </div>

  <div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- End Stunning header -->



<section class="mb60">
  <div class="container">
    <div class="row">
      <div class="col col-xl-8 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion-faqs">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  كلمة السر
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <p>
                لديك عدد من المحاولات لدخول كلمة السر, اذا كانت المحاولات كلها خاطئة فذلك يتطلب التوجه الى اقرب فرع لتقديم طلب عمل Unlock لمستخدم النظام.
              </p>


            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne-1">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                  خدمة متصفح
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne-1">
              <p>
                المتصفحات المدعومة هي انترنت اكسبلورر وفايرفوكس وجوجل كروم وبرجاء استخدام احدث اصدار لتجنب حدوث أي مشاكل اثناء التصفح او اخطاء.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne-2">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                  يمكن شراء الاوعية الادخارية و ربط الودائع
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne-2">
              <p>
                يمكن شراء الاوعية الادخارية و ربط وديعة من خلال خدمة الأهلي نت شركات, وذلك من خلال الضغط علي " الودائع/الشهادات/الاوعية الادخارية " ثم الضغط علي " اصدار الودائع/الشهادات/الاوعية "
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne-3">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3" class="collapsed">
                  الاطلاع علي القيمة الاستردادية للأوعية الادخارية
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne-3" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <p>
                الاطلاع علي القيمة الاستردادية للأوعية الادخارية من خلال الضغط علي " الودائع/الشهادات/الاوعية الادخارية " ثم الضغط علي " استرداد الودائع/الشهادات/الاوعية ".
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne-4">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                  خيارات التعديل المتاحة للأوعية الادخارية والودائع
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne-4" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <p>
                يمكن من خلال النظام التعديل علي تعليمات الاستحقاق من حيث موقف الاوعية الادخارية او الوديعة / حساب التعلية، وذلك من خلال الضغط علي "الودائع/الشهادات/الاوعية الادخارية" ثم الضغط علي "تعديل الودائع/الشهادات/الاوعية "
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne-5">
              <h3 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5" class="collapsed">
                  خدمة حسابات الشركة
                  <span class="icons-wrap">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                    <svg class="olymp-accordion-close-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use>
                    </svg>
                  </span>
                </a>
              </h3>
            </div>
          </div>
          <div class="card">
            <div id="collapseOne-5" class="collapse show" role="tabpanel" aria-labelledby="headingOne-5">
              <p>
                تأكد من التسجيل في خدمة "المعاملات المالية بين حسابات الشركة" في استمارة الاشتراك في الخدمة ، وفي هذه الحالة ستقوم باستلام جهاز رموز الامانHard Token من الفرع.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
