<div fxLayout="row" fxLayoutAlign="end start">

  <div class="f-box">
    <div class="head">
      <img src="assets/web/img/help1.jpg">
    </div>
    <div class="foot">
      <div class="filename">
        <img src="assets/images/word-64.png">
        <div class="name">بوابة الدفع</div>
      </div>
      <div class="owner">
        قام جلال بتحريره في العام الماضي
      </div>
    </div>
  </div>

  <div class="f-box">
    <div class="head">
      <img src="assets/web/img/image1.png">
    </div>
    <div class="foot">
      <div class="filename">
        <img src="assets/images/excel-64.png">
        <div class="name">الخطة المالية أ</div>
      </div>
      <div class="owner">
        لقد شاركتها أمس
      </div>
    </div>
  </div>

  <div class="f-box">
    <div class="head">
      <img src="assets/web/img/scale1.png">
    </div>
    <div class="foot">
      <div class="filename">
        <img src="assets/images/excel-64.png">
        <div class="name">الخطة المالية ب</div>
      </div>
      <div class="owner">
        لقد شاركتها أمس
      </div>
    </div>
  </div>

  <div class="f-box">
    <div class="head">
      <img src="assets/web/img/world-map.png">
    </div>
    <div class="foot">
      <div class="filename">
        <img src="assets/images/ppt-64.png">
        <div class="name">سير العمل</div>
      </div>
      <div class="owner">
        حرره جلال الشاعر الأسبوع الماضي
      </div>
    </div>
  </div>

</div>
